

<h1>This is my data:</h1>

<ul>
  <li *ngFor="let value of apiValues">{{value}}</li>
</ul>



<h1>Data Input:</h1>



<div>
  <label>
    Hero name:
    <input #userName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(userName.value); userName.value=''">
    add
  </button>
</div>



<a href="/api/values">GET LINK</a>



<!--
<p>
  Create a new user: <input type="text" name="UserName" [(ngModel)]="UserName">
  <button (click)="PostData(UserName)">Save</button>
</p>




<div>

  Name : <input ng-name="UserName" /><br /><br />
  Password : <input ng-name="UserPassword" /><br /><br />
  <input type="button" value="Send" ng-click="PostData(UserName, UserPassword)" /> <br /><br />

</div>

      -->
